@import 'misc';


@include respond-to(mobile) {
  .header {
    display: none;
  }

  .mobileNav {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
  }

  .mobileNav__logo {
    width: 50px;
    height: 50px;
  }

  .mobileNav__nav {
    background-color: rgba(74, 183, 71, 0.85);
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .mobileNav__nav-item {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 500;
    height: 70px;
    line-height: 70px;
    text-align: center;
    text-decoration: none; 
    width: 100%
    ;
    &:hover {    
     color: #fff; 
    text-decoration: underline;
    }

    &:focus, &:active {
      background-color: rgba(255, 255, 255, 0.15);
      outline: none;
    }

    &.mobileNav__nav-item--menu {
      background-color: rgba(0, 0, 0, 0.15);
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .mobileNav__certificates--gallery {
    display: none;
  }

  .mobileNav__img {
    display: none;
  }

  #map {
    // width: 100%;
    // z-index: 0;
    position: relative; //absolute//
    height: 100%;
    top: 0;
  }
  
  .contact__bottomBar {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 50px;
    background: rgba(255, 255, 255, 0.85);
    width: auto;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

  .contact {
    // z-index: 1;
    // position: relative;
    height: 600px;
    border-top: 3px solid #3EAC37;
  }
  
  .contact__form {
    background: rgba(255,255,255,0.85);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
    width: 100%;
    // float: right;
    // height: calc(100% - 20px);
    // position: relative;
    // z-index: 1;
    padding: 20px;
    margin-right: 10px;
    margin-top: 10px;
  }

  footer {
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    height: 40px;
    line-height: 40px;
    /* bottom: 0px; */
    /* margin-bottom: -13px; */
    margin-top: 600px;
    color: #fff;
    position: relative;
}

}
