---
title: SMARTHOME
---


<body data-spy="scroll" data-target="#my-navbar">

    <nav class="header">
      <div class="flex-container">
        <ul class="header__nav">
          <li class="header__logo">
            <a class="header__logo" href="index.html">
              <img src="images/logo.png">
            </a>
          </li>
          <li class="header__nav-item header__nav-item--active">
            <a href="#stage">Start</a>
          </li>
          <li class="header__nav-item">
            <a href="#about_us">O nas</a>
          </li>
          <li class="header__nav-item"><!-- class="header__nav-item--dropdownButton" -->
            <a href="#offer">Oferta</a>
          </li>
          <li class="header__nav-item">
            <a href="#contact">Kontakt</a>
          </li>
          <li class=" header__nav-item--contact link nav__phone">
            <a href="tel:+48698151212"><i class="fas fa-phone-square fa-lg"></i> 698 151 212</large></a>
          </li>
<!--           <div class="dropdown">
            <a class="dropdown__link" target="_blank" href="images/img1.jpg">De Dietrich</a>
            <a class="dropdown__link" target="_blank" href="images/img2.jpg">Simp</a>
            <a class="dropdown__link" target="_blank" href="images/img3.jpg">Zehnder</a>
          </div> -->
        </ul>
      </div>
    </nav>
    <nav>
      <a class="mobileNav" href="#">
        <img class="mobileNav__logo" src="images/mobileNav.svg">
      </a>
      <ul class="mobileNav__nav">
        <li class="mobileNav__nav-item mobileNav__nav-item--menu">
          Menu
        </li>
        <li>
          <a class="mobileNav__nav-item" href="#stage">Start</a>
        </li>
        <li>
          <a class="mobileNav__nav-item" href="#about_us">O nas</a>
        </li>
<!--         <li id="lightgallery">
          <a class="mobileNav__nav-item" href="images/img1.jpg">Certyfikaty
            <img class="mobileNav__certificates--gallery" src="images/img1.jpg"/>
          </a>
          <a class="mobileNav__img" href="images/img2.jpg">
            <img class="mobileNav__certificates--gallery" src="images/img2.jpg"/>
          </a>
          <a class="mobileNav__img" href="images/img3.jpg">
            <img class="mobileNav__certificates--gallery" src="images/img3.jpg"/>
          </a>
        </li> -->
        <li>
          <a class="mobileNav__nav-item" href="contact.html">Kontakt</a>
        </li>
      </ul>
    </nav>




  <section id="stage" class="section section--stage">
  	<div class="container text-center main">
  		<h1>smarthome</h1>
  	</div>
  </section>

  <section class="section" id="about_us">
    <h2 class="header__content header--section">Trusted Furnace, Air Conditioner, & Water Heater <br/> Repair/Installation Services.</h2>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="carousel slide" id="screenshot-carousel" data-ride="carousel">
            <div class="">
              <ol class="carousel-indicators">
                <li data-target="#screenshot-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#screenshot-carousel" data-slide-to="1"></li>
                <li data-target="#screenshot-carousel" data-slide-to="2"></li>
                <li data-target="#screenshot-carousel" data-slide-to="3"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img src="images/3.jpg" alt="Text of the image">
                  <div class="carousel-caption">
                    <h3>loerm ipsum</h3>
                    <p>Mollit nulla elit fugiat enim.</p>
                  </div>
                </div>
                <div class="item">
                  <img src="images/v2.jpg" alt="Text of the image">
                  <div class="carousel-caption">
                    <h3>lorem ipsum</h3>
                    <p>Consectetur nulla consectetur culpa.</p>
                  </div>
                </div>
                <div class="item">
                  <img src="images/v3.jpg" alt="Text of the image">
                  <div class="carousel-caption">
                    <h3>lorem ipsum</h3>
                    <p>Lorem ipsum labore pariatur esse.</p>
                  </div>
                </div>
                <div class="item">
                  <img src="images/v5.jpg" alt="Text of the image">
                  <div class="carousel-caption">
                    <h3>lorem ipsum</h3>
                    <p>Laboris exercitation sunt nulla labore.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
          <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
      </div>

      <div class="col-sm-4">
        <div class="col-sm-12  panel panel-default panel-body" id="spec">
          <h3 class="header__content">O firmie:</h3>
          <p>Smarthome utworzono 2 stycznia 2014r. z myślą o wykonywaniu usług z zakresu branż ogrzewnictwa, wentylacji i instalacji wodno-kanalizacyjnych w budynkach jedno i     wielorodzinnych oraz dla małych i średnich przedsiębiorstw.</p>
          <p>
            Misją firmy jest wdrażanie kompleksowych, inteligentnych rozwiązań mających na celu zmaksymalizowanie komfortu użytkowania oraz zminimalizowanie kosztów eksploatacyjnych.
          </p>
          <p>
            <dl>
             <dd>Grupa docelowa naszych usług mieście się zakresie tzw."klienta wymagającego", oczekującego:</dd>
              <dd>* wysokiej jakości materiałów i urządzeń,</dd>
              <dd>* inteligentnych rozwiązań automatyzacyjnych,</dd>
              <dd>* wykreowania spójnego, ZDROWEGO rozwiązania przynoszącego KOMFORT,</dd>
              <dd>* prawidłowego i estetycznego wykonania instalacji.</dd>
            </dl>
          </p>
          <p>Naszym Celem jest zaprojektowanie i wykonanie instalacji szytej dokładnie na miarę naszego klienta.</p>
        </div>
      </div>
      </div>
    </div>
  </section>

  <section class="section" id="offer">
  	<div class="container">
			<div class="row">
			 <h3 class="header__content header--section">Specjalizujemy się w doborze i montażu:</h3>
        <li>Instalacji wodno - kanalizacyjnych.</li>
        <li>Systemów uzdatniania wody.</li>
        <li>Rekuperacji - wentylacji mechanicznej z odzyskiem ciepła.</li>
        <li>Urządzeń grzewczych:</li>
           <ul>
            <li>POMPY CIEPŁA - solankowe, powietrzne,</li>
            <li>KOTŁY GAZOWE,</li>
            <li>KOTŁY NA PALIWA STAŁE - pellet, eko-groszek, olej opałowy,</li>
            <li>KOMINKI z płaszczem wodnym,</li>
            <li>UKŁADY BIWALENTNE - systemy kombinowane składające się z dwóch oddzielnych urządzeń grzewczych, np.: pompa ciepła + kocioł gazowy.</li>
           </ul>
        <li>Pomp ciepła CWU (ciepła woda użytkowa).</li>
        <li>Ogrzewania podłogowego.</li>
        <li>Ogrzewania klasycznego.</li>
        <li>Odkurzaczy centralnych</li>
        <br/>
        <h2>Serwis.</h2>
          <p> SMARTHOME od 2016 roku jest autoryzowanym serwisantem urządzeń wentylacyjnych firmy ZEHNDER www.zehnder.pl/obsluga-serwisowa.</p>

        <p>POSIADAMY AKTUALNE ŚWIADECTWA KWALIFIKACYJNE UPRAWNIAJĄCE DO MONTAŻU POWYŻSZYCH URZĄDZEŃ</p>
        <div class="certificates">
          <img src="images/certi1.png" class="img-responsive center-block" alt="image"></a>
          <img src="images/certi3.png" class="img-responsive center-block" alt="image"></a>
        </div>
		  </div>
  	</div>
  </section>

  <section class="contact">
    <div id="map"></div>
    <div class="container">
      <div class="contact">
        <h2>Skontaktuj sie z nami: <large><a class="link" href="tel:+48 698 151 212">+48 698 151 212</large></a></h2>
      </div>
        <div class="row">
          <div class="col-lg-6" id="contact">
            <p>Wyślij nam wiadomość</p>
            <address class="bubble">
              <strong><a class="link" href="mailto:bartek@smarthome.net.pl" target="_top">bartek@smarthome.net.pl</a></strong></br>
              ul. Raginisa 13/14</br>
              71-625 Szczecin</br>
              NIP: 852-243-29-78</br>
              REGON: 320325826
            </address>
          </div>
          <div class="col-lg-6">
            <form action="https://formspree.io/m.rakowski1987@gmail.com" method="post" class="form-horizontal">
              <div class="form-group">
                <label for="user-name" class="col-lg-2 control-label">Imię</label>
                <div class="col-lg-10">
                  <input name="name" type="text" class="form-control" id="user-name" placeholder="Wpisz swoje imię/nazwę firmy">
                </div>
              </div>
              <div class="form-group">
                <label for="user-email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                  <input name="email" type="email" class="form-control" id="user-email" placeholder="Wpisz swój Email">
                </div>
              </div>
              <div class="form-group">
                <label for="user-message" class="col-lg-2 control-label">Wiadomość</label>
                <div class="col-lg-10">
                  <textarea name="user-message" id="user-message" class="form-control"
                  cols="20" rows="10" placeholder="Wpisz swoją wiadomość"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="submit" class="btn btn-success">Wyślij</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  </section>
  <footer>
    <a class="facebookIcon" href="http://www.facebook.com"><i class="fab fa-2x fa-facebook-square"></i></a>
    <span><span class="companyName">SMARTHOME</span> © 2018. Wszelkie prawa zastrzeżone.</span>
  </footer>
</body>
</html>
